---
import Input from "./Inputs/Input.astro";
import Textare from "./Inputs/Textare.astro";
import Checkbox from "./Inputs/Checkbox.astro";
import SendBtn from "./Inputs/SendBtn.astro";
---

<form class="form" onsubmit="return false">
    <Input label="Nombre y apellidos" placeholder="John Doe" type="text"></Input>
    <Input label="Email" placeholder="johndoe@example.com" type="email"></Input>
    <Textare label="Mensaje" placeholder="Escriba un mensaje" type="text" required="false" asterisk="" size="lg"></Textare>
    <input type="text" style="opacity: 0;" class="api-inpt">
    <label class="form__cc">
        <Checkbox></Checkbox>
        He leído y acepto la <a href="/privacy" class="form__cc__link">política y privacidad</a>
    </label>
    <div class="form__bc">
        <SendBtn></SendBtn>
    </div>
<form>

<style lang="scss">
    .form{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;

        &__cc{
            color: #fff;
            display: flex;
            width: 600px;
            margin-top: 30px;

            &__link{
                margin-left: 5px;
                color: #ff7000;
                
                &:hover{
                    text-decoration: underline;
                    cursor: url("../../assets/pointer.png"), auto;
                }
            }
        }

        &__bc{
            display: flex;
            width: 600px;
            margin-top: 30px;
        }
    }

    @media only screen and (max-width: 480px){
        .form{

            &__cc, &__bc{
                width: 85vw;
            }
        }
    }
</style>