---
import Form from "./Form.astro";
import Pyramid from "./Pyramid.astro";
---

<article class="article">
    <h1 class="article__title">¿Quieres empezar a<br> <span class="article__title__gradient-txt">ganar minando</span>?</h1>
    <Form></Form>
</article>

<style lang="scss">
    .article{
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title{
            color: #fff;
            width: 100vw;
            font-size: clamp(35px,3.5vw + 1vh,80px);
            text-align: center;

            &__gradient-txt{
                background: rgb(251,211,252);
                    background: linear-gradient(87deg, rgba(251,211,252,1) 0%, rgba(189,44,241,1) 100%);
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
            }
        }

    }

</style>