---
import Video from "./video.astro";
import FirstSection from "./firstSection.astro";
import SecondSection from "./secondSection.astro";
import ThirdSection from "./thirdSection.astro";
import FourthSection from "./fourthSection.astro";
---

<main class="main">
    <section class="main__section main__section--1" id="s1">
        <Video />
    </section>
    <div class="modal"><iframe class="modal__video" src="https://www.youtube.com/embed/mOxX0wGX5Kc?si=3B6Ss6deC7PBuePh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><div class="modal__close-container"><i class="fa-solid fa-x modal__close-container__icon"></i></div></div>
    <section class="main__section main__section--2" id="s2">
        <FirstSection />
        <img
            src="/btc-coin-b.png"
            alt="Bitcoin"
            class="article__img-btc"
        />
    </section>
    <section class="main__section main__section--3" id="s3">
        <SecondSection />
        <img
            src="/btc-coin-b.png"
            alt="Bitcoin"
            class="article__img-btc article__img-btc--3"
        />
    </section>
    <section class="main__section main__section--4" id="s4">
        <ThirdSection />
        <img
            src="/btc-coin-b.png"
            alt="Bitcoin"
            class="article__img-btc"
        />
    </section>
    <section class="main__section main__section--5" id="s5">
        <FourthSection />
        <img
            src="/btc-coin-b.png"
            alt="Bitcoin"
            class="article__form-btc"
        />
    </section>
</main>

<style lang="scss">
    .main {
        // margin-top: 100px;
        // margin-bottom: 150px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #0e1329;

        &__section {
            position: relative;
            z-index: 2;
            width: 100vw;
        }

        &__section--1 {
            width: 100vw;
            display: flex;
            justify-content: center;
            margin-top: 200px;
            margin-bottom: 150px;
        }

        &__section--2 {
            padding-bottom: 70px;
            display: flex;
            // margin-bottom: 150px;
        }

        &__section--3 {
            padding-top: 70px;
            padding-bottom: 70px;
            width: 100vw;
            display: flex;
            justify-content: center;
            /* From https://css.glass */
            background: rgb(42 35 105 / 8%);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            // margin-bottom: 100px;
        }

        &__section--4 {
            // margin-top: 50px;
            // margin-bottom: 50px;
            padding-top: 100px;
            padding-bottom: 100px;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__section--5 {
            position: relative;
            padding-top: 100px;
            padding-bottom: 50px;
            display: flex;
            justify-content: center;
            overflow: hidden;
            // margin-top: 100px;
        }
    }

    .article {
        &__form-btc {
            position: absolute;
            z-index: 0;
            top: 30%;
            width: 100vw;
            opacity: 0.15;
        }

        &__img-btc {
            position: absolute;
            width: 33vw;
            right: -200px;
            z-index: 0;
            opacity: 0.2;
            transform: rotate(-30deg);

            &__opac--3 {
                width: 50vw;
                height: 50vw;
                background-color: #0058ff1f;
                position: absolute;
                border-radius: 50%;
                left: -200px;
                transform: rotate(30deg);
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0.88;
            }
        }

        &__img-btc--3 {
            left: -200px;
            transform: rotate(210deg);
            display: flex;
            justify-content: center;
            align-items: center;
            top: 300px;
        }

        &__title {
            font-size: clamp(35px, 3.5vw + 1vh, 80px);
        }

        &__card {
            &__title {
                font-size: clamp(35px, 3.5vw + 1vh, 80px);
            }
        }
    }

    .modal{
        display: none;
        position: absolute;
        z-index: 8;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
		background: rgba(9, 8, 12, 0.53);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(16.1px);
		-webkit-backdrop-filter: blur(16.1px);
		border: 1px solid rgba(9, 8, 12, 0.3);

        &__video{
            width: 75vw;
            height: 70vh;
            object-fit: fill;
        }

        &__close-container{
            font-size: 30px;
            color: #fff;
            position: absolute;
            top: 100px;
            right: 30px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 1px solid #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            color: #000;

            &__icon{
                
            }
        }
    }

    @media only screen and (max-width: 900px) {
        .main {
            &__section--1{
                margin-top: 40px;
                margin-bottom: 30px;
            }

            &__section--3 {
                padding-top: 40px;
                padding-bottom: 40px;
                display: flex;
                flex-direction: column;
                // margin-bottom: 100px;
            }

            &__section--4{
                padding: 20px;
            }

            &__section--5 {
                margin-top: 00px;
            }
        }

        .article {
            &__img-btc {
                display: none;
            }

            &__form-btc {
                display: none;
            }
        }

        .modal{

            &__video{
                height: 30vh;
            }
        }
    }
</style>

<script is:inline>
    const modal = document.querySelector('.modal');
    const video = document.querySelector('.modal__video');
    const playBtn = document.querySelector('.cover-container__btn');
    const videoCloseBtn = document.querySelector('.modal__close-container');

    playBtn.addEventListener('click', () =>{
        document.body.style.overflowY = 'hidden';
        modal.style.display = 'flex';
        modal.style.top = `${window.scrollY}px`;
        video.setAttribute('src', `https://www.youtube.com/embed/mOxX0wGX5Kc?si=3B6Ss6deC7PBuePh&autoplay=1`)
    })

    videoCloseBtn.addEventListener('click', () =>{
        document.body.style.overflowY = 'scroll';
        modal.style.display = 'none';
        modal.style.top = `https://www.youtube-nocookie.com/embed/_UjzMwWpHgE?si=22dm9-UnpekNy45z&amp;start=1391px`;
        video.setAttribute('src', ``)
    })
</script>