<button class="Btn readmore-btn">
    <svg height="1.2em" class="arrow" viewBox="0 0 512 512"><path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"></path></svg>
    <p class="text readmore-txt">Leer más</p>
</button>

<style lang="scss">
    .Btn {
  width: 45px;
  height: 45px;
  background: linear-gradient(#602e7f,#8360a3);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  border: none;
}


.arrow{
    transition: all .5s;
    transform: rotate(180deg);
}

.arrow path {
  fill: white;
}

.readless{
  position: relative;
    transition: all .5s;
    transform: rotate(180deg);
}

.readless path {
  fill: white;
}

.text {
  font-size: 0.7em;
  width: 100px;
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -18px;
  opacity: 0;
  transition-duration: .7s;
}

.Btn:hover .text {
  opacity: 1;
  transition-duration: .7s;
}

.Btn:hover .arrow {
  animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.Btn:hover .readless{
  animation: slide-in-top .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-bottom {
  0% {
    transform:  rotate(180deg) translateY(10px);
    opacity: 0;
  }

  100% {
    transform: rotate(180deg) translateY(0px);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    transform:  rotate(180deg);
    top: 0px;
  }

  100% {
    transform: rotate(180deg);
    top: -10px;
  }
}

@keyframes read-less{
    0%{
        transform: rotate(180deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

@keyframes read-more{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(180deg);
    }
}
</style>