---
import Img1 from "../../assets/contrato.jpg";
import InfoCard from "./infoCard.astro";
---

<article class="article">
    <div class="article__title-container">
        <h1 class="article__title-container__title">Somos profesionales</h1>
        <p class="article__title-container__subtitle">
            Nos diferenciamos de los demás
        </p>
    </div>
    <div class="article__content-c">
        <div class="article__card-container">
            <InfoCard
                icon="fa-gear"
                bTxt="Maquinaria y mineria de última generación."
                txt="Lideramos la industria al utilizar tecnologías energéticamentes eficientes garantizando una mineria de Bitcoin respetuosa con el medio ambiente"
            />
            <InfoCard
                icon="fa-shield"
                bTxt="Seguridad de Vanguardia."
                txt="Implementamos medidas de seguridad de última generación para proteger activos y la red blockchain"
            />
            <InfoCard
                icon="fa-eye"
                bTxt="Tecnología de eficiencia energética"
                txt="Lideramos la industria al utilizar tecnologías de ultima generación y energéticamentes eficientes"
            />
        </div>
        <div class="article__img-container">
            <img src={Img1.src} alt="MineBest" class="article__img" />
        </div>
    </div>
</article>

<style lang="scss">
    .article {
        position: relative;
        z-index: 2;
        width: 85vw;

        &__title-container {
            &__title {
                color: #fff;
                font-size: clamp(35px, 3.5vw + 1vh, 80px);

                &__gradient-txt {
                    background: rgb(251, 211, 252);
                    background: linear-gradient(
                        87deg,
                        rgba(251, 211, 252, 1) 0%,
                        rgba(189, 44, 241, 1) 100%
                    );
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
                }
            }

            &__subtitle {
                margin-top: 2.5vh;
                color: #507cd1;
                font-family: "Outfit Variable", sans-serif;
                font-weight: 400;
            }
        }

        &__content-c {
            margin-top: 5vh;
            width: 90vw;
            height: fit-content;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &__img {
            position: relative;
            width: 47vw;
            height: 400px;
            object-fit: cover;
            border-radius: 20px;
            object-fit: contain;
        }
    }

    @media only screen and (max-width: 900px) {
        .article {
            width: 100vw;
            overflow: hidden;
            margin: 0;

            &__title-container {
                margin-left: 20px;
            }

            &__content-c {
                width: 100vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            &__card-container {
                width: 100vw;
                height: fit-content;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 20px;
            }

            &__img-container {
                width: 100vw;
                display: flex;
                justify-content: center;
            }

            &__img {
                position: static;
                width: 95vw;
                height: 400px;
                border-radius: 0px;
                object-fit: contain;
            }
        }
    }

    // @media only screen and (min-width: 481px) and (max-width: 900px) {
    //     .article {
    //         &__content-c {
    //             flex-direction: column;

    //             &__card-container {
    //                 width: 100vw;
    //             }
    //         }

    //         &__img-container {
    //             margin-top: 30px;
    //         }

    //         &__img {
    //             right: 0px;
    //             width: 90vw;
    //         }
    //     }
    // }
</style>
