---
import Img1 from "../../assets/contrato.jpg";
import InfoCard from "./infoCard.astro";
---

<article class="article">
    <div class="article__title-container">
        <h1 class="article__title-container__title">Somos profesionales</h1>
        <p class="article__title-container__subtitle">
            Nos diferenciamos de los demás
        </p>
    </div>
    <div class="article__content-c">
        <div class="article__card-container">
            <InfoCard
                iconColor="#00fdff"
                icon="fa-gear"
                bTxt="Somos Legales y Confiables"
                txt='Certificados y Permisos: Poseemos todas las certificaciones legales necesarias, como por ej. el "Comprobante Digital para Proveedores de Servicio Bitcoin" emitido por el Gobierno de El Salvador, asegurando que operamos con la máxima transparencia y legalidad.'
            />
            <InfoCard
                iconColor="#ff7800"
                icon="fa-shield"
                bTxt="Usamos Maquinaria y Minería de Última Generación"
                txt="Tecnología Eficiente: Lideramos la industria con tecnologías energéticamente eficientes, garantizando una minería de Bitcoin respetuosa con el medio ambiente."
            />
            <InfoCard
                iconColor="#54ff92"
                icon="fa-eye"
                bTxt="Ofrecemos Seguridad de Vanguardia"
                txt="Protección de Activos: Implementamos medidas de seguridad de última generación para proteger tus activos, asegurando que tus Bitcoin estén siempre seguros."
            />
            <InfoCard
                iconColor="#d7d7d7"
                icon="fa-ghost"
                bTxt="Garantizamos Transparencia"
                txt="Claridad y Confianza: Ofrecemos total transparencia en nuestras operaciones, permitiéndote monitorear tu inversión y ver resultados claros y confiables."
            />
        </div>
        <div class="article__img-container">
            <img src={Img1.src} alt="MineBest" class="article__img" />
        </div>
    </div>
</article>

<style lang="scss">
    .article {
        position: relative;
        z-index: 2;
        width: 85vw;

        &__title-container {
            &__title {
                color: #fff;
                font-size: clamp(35px, 3.5vw + 1vh, 80px);

                &__gradient-txt {
                    background: rgb(251, 211, 252);
                    background: linear-gradient(
                        87deg,
                        rgba(251, 211, 252, 1) 0%,
                        rgba(189, 44, 241, 1) 100%
                    );
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
                }
            }

            &__subtitle {
                margin-top: 2.5vh;
                color: #507cd1;
                font-family: "Outfit Variable", sans-serif;
                font-weight: 400;
            }
        }

        &__content-c {
            margin-top: 5vh;
            width: 90vw;
            height: fit-content;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &__img {
            position: relative;
            width: 47vw;
            height: 400px;
            object-fit: cover;
            border-radius: 20px;
            object-fit: contain;
        }
    }

    @media only screen and (max-width: 900px) {
        .article {
            width: 100vw;
            overflow: hidden;
            margin: 0;

            &__title-container {
                margin-left: 20px;
            }

            &__content-c {
                width: 100vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            &__card-container {
                width: 100vw;
                height: fit-content;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 20px;
            }

            &__img-container {
                width: 100vw;
                display: flex;
                justify-content: center;
            }

            &__img {
                position: static;
                width: 95vw;
                height: 400px;
                border-radius: 0px;
                object-fit: contain;
            }
        }
    }

    // @media only screen and (min-width: 481px) and (max-width: 900px) {
    //     .article {
    //         &__content-c {
    //             flex-direction: column;

    //             &__card-container {
    //                 width: 100vw;
    //             }
    //         }

    //         &__img-container {
    //             margin-top: 30px;
    //         }

    //         &__img {
    //             right: 0px;
    //             width: 90vw;
    //         }
    //     }
    // }
</style>
