---
import CleanBtn from "./cleanBtn.astro";
---

<article class="article">
    <!-- <picture class="article__img-container">
        <img src={Img.src} alt="MineBest" class="article__img-container__img">
    </picture> -->
    <div class="article__card">
        <div class="article__card__content-container">
            <div>
                <h1 class="article__card__title">
                    Sobre <br /><span class="article__card__title--green"
                        >Nosotros</span
                    >
                </h1>
                <br />
                <p class="article__card__txt article__card__txt--white">
                    ¿Listo para unirte al futuro financiero?
                    Con años de experiencia en el mundo de las criptomonedas desde 2017, nuestro equipo ha dominado la tecnología y fundamentos de Bitcoin, analizando patrones y ciclos de halving. 
                </p>
                <br />
                <br />
                <button type="button" class="article__card__btn">Leer más</button>
                <p class="article__card__txt article__card__hidden-txt">
                    Hemos acumulado un conocimiento sólido en trading, minería, holding, y evaluación de proyectos, respaldados por la guía de expertos y nuestra continua dedicación.

                    Ya seas principiante o experto en cripto, estamos aquí para ayudarte. Si buscas un equipo confiable en el mercado de criptomonedas y minería de Bitcoin, reserva una cita con nosotros. ¡El presente y futuro financiero está en el Bitcoin!
                </p>
            </div>
            <br />
            <div class="article__card__btn-container">
                <CleanBtn />
            </div>
        </div>
    </div>
</article>

<style lang="scss">
.article {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

    &__card {
        &__content-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        &__title {
            margin-bottom: 20px;
            width: 100%;
            font-size: clamp(40px, 3.5vw + 1vh, 80px);

            &--green {
                font-size: clamp(40px, 3.5vw + 1vh, 80px);
                background: #00ff47;
                background: linear-gradient(
                    90deg,
                    #00ff47 0%,
                    #6ebd84 100%
                );
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
            }
        }

        &__txt {
            width: 40vw;
            font-family: "Poppins", sans-serif;
            color: #afafaf;
            font-weight: 300;
            font-size: 20px;

            &--white {
                color: #fff;
                font-weight: 600;
            }
        }

        &__hidden-txt {
            display: none;
        }

        &__btn-container {
            margin-top: 30px;
        }

        &__btn {
            width: 100%;
            background-color: transparent;
            position: relative;
            padding: 10px 20px;
            border: none;
            outline: none;
            font-weight: bold;
            color: #9e9e9e;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            cursor: pointer;
            overflow: hidden;
            transition: color 0.3s ease;
            font-weight: 400;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                width: 0;
                height: 2px;
                background-color: #9e9e9e;
                transition: width 0.5s ease;
            }

            &:hover {
                cursor: url("../../assets/pointer.png"), auto;
                color: #fff; // Cambia el color del texto al hacer hover

                &::after {
                    width: 100px; // Ancho completo de izquierda a derecha
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .article {
        &__card {
            &__txt {
                width: 70vw;
            }
        }
    }
}

@media only screen and (min-width: 1600px) {
    .article {
        &__card {
            &__txt {
                width: 30vw;
            }
        }
    }
}

</style>

<script is:inline>
    const readMoreBtn = document.querySelector('.article__card__btn');
    const hiddenTxt = document.querySelector('.article__card__hidden-txt');

    readMoreBtn.addEventListener('click', () =>{
        hiddenTxt.style.display = 'block';
        readMoreBtn.style.display = 'none';
    })
</script>