---
import CleanBtn from "./cleanBtn.astro";
---

<article class="article">
    <picture class="article__img-container">
        <img src="https://cdn.discordapp.com/attachments/973568724722389052/1189669818903830618/pexels-energepiccom-159888.jpg?ex=659f015b&is=658c8c5b&hm=1ef67754a9b8e15513d47f5e78b29bd0b6c65aeae20eae91a6ec919beef4ef31&" alt="MineBest" class="article__img-container__img">
    </picture>
        <div class="article__card">
            <div class="article__card__content-container">
                <div>
                    <h1 class="article__card__title">Sobre Nosotros</h1>
                    <p class="article__card__txt">
                        Desde nuestros modestos inicios hasta nuestro estatus actual, hemos cultivado una reputación de innovación, <span class="article__card__content-container__purple">confianza y compromiso con nuestros clientes.</span>
                        <br><br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. <span class="article__card__content-container__purple">Neque recusandae</span> in quos culpa modi eaque optio laborum minus nesciunt tempora dignissimos expedita eius, <span class="article__card__content-container__purple">placeat eligendi</span> ad veritatis at dolorem sapiente.
                        <br><br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. <span class="article__card__content-container__purple">Voluptatibus, rerum.</span>
                        <br><br>
                    </p>
                </div>
                <div class="article__card__btn-container">
                    <CleanBtn></CleanBtn>
                </div>
            </div>
        </div>
</article>

<style lang="scss">
    .article{
        display: flex;
        justify-content: flex-end;
        width: 100vw;
        height: 70vh;
        align-items: center;

        &__img-container{
            position: relative;
            right: 15vw;
            height: 100%;

            &__img{
                height: 100%;
                border-radius: 30px;
                width: 50vw;
                height: 70vh;
                object-fit: cover;
            }
        }

        &__card{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            // background-color: rgb(20 20 20);
            // border: 1px solid rgba(255, 255, 255, 0.1);
            color: #fff;
            padding: 20px;
            position: relative;
            right: 7vh;
            width: 630px;
            height: 70vh;
            &::before{
                justify-self: center;
                background: radial-gradient(
                400px circle at var(--mouse-x) var(--mouse-y),
                rgba(255, 255, 255, 0.06),
                transparent 40%
            );
            border-radius: inherit;
            content: "";
            left: 0px;
            width: 630px;
            height: 100%;
            position: absolute;
            z-index: 2;
            }

            &__content-container{
                width: 630px;
                height: 100%;
                display: flex;
                padding: 20px;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                &__purple{
                    color: #cd87ff;
                    text-decoration: underline;
                }
            }

            &__title{
                margin-bottom: 20px;
                width: 100%;
                font-size: clamp(30px,3.5vw + 1vh,80px);
            }

            &__txt{
                color: #afafaf;
            }

            &__btn-container{
                width: 100%;
                position: relative;
                z-index: 20;
            }
        }
    }

    @media only screen and (max-width: 480px){
        .article{
        // display: flex;
        // justify-content: center;
        // width: 100vw;
        // height: 70vh;
        // align-items: center;
        width: 100vw;
        display: flex;
        height: 400px;
        justify-content: center;


        &__img-container{
            display: none;
        }

        &__card{
            position: relative;
            left: 1px;
            width: 335px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            // background-color: rgb(20 20 20);
            // border: 1px solid rgba(255, 255, 255, 0.1);
            color: #fff;

            &::before{
                width: 335px;
            }

            &__content-container{
                width: 325px;
                height: 100%;
                display: flex;
                padding: 20px;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }

            &__title{
                width: 100%;
                font-size: clamp(35px,3.5vw + 1vh,80px);
            }

            &__btn-container{
                position: relative;
                z-index: 20;
            }
        }
    }
    }
</style>

<!-- <script is:inline>
    const handleOnMouseMove = e =>{
        const { currentTarget: target } = e;

        const rect = target.getBoundingClientRect(),
        x = e.clientX - rect.left,
        y = e.clientY - rect.top;

        target.style.setProperty("--mouse-x", `${x}px`);
        target.style.setProperty("--mouse-y", `${y}px`);
    }

    document.querySelector('.article__card').onmousemove = e => handleOnMouseMove(e);
</script> -->