---
import Img from "../../assets/section2_img3.jpg";
import CleanBtn from "./cleanBtn.astro";
---

<article class="article">
    <!-- <picture class="article__img-container">
        <img src={Img.src} alt="MineBest" class="article__img-container__img">
    </picture> -->
    <div class="article__card">
        <div class="article__card__content-container">
            <div>
                <h1 class="article__card__title">
                    Sobre <br /><span class="article__card__title--green">Nosotros</span>
                </h1>
                <br>
                <p class="article__card__txt article__card__txt--white">
                    Desde nuestros modestos inicios hasta nuestro estatus actual, hemos cultivado una reputación de innovación.
                </p>
                <br>
                <br>
                <p class="article__card__txt">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                </p>
            </div>
            <br>
            <div class="article__card__btn-container">
                <CleanBtn />
            </div>
        </div>
    </div>
</article>

<style lang="scss">
    .article{
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;

        &__card{
            
            &__content-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
            }

            &__title{
                margin-bottom: 20px;
                width: 100%;
                font-size: clamp(40px,3.5vw + 1vh,80px);

                &--green {
                    font-size: clamp(40px,3.5vw + 1vh,80px);
                    background: #00FF47;
                    background: linear-gradient(
                        90deg,
                        #00FF47 0%,
                        #6ebd84 100%
                    );
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
                }
            }

            &__txt{
                width: 35vw;
                font-family: 'Poppins', sans-serif;
                color: #afafaf;
                font-weight: 300;
                font-size: 20px;

                &--white{
                    color: #fff;
                    font-weight: 600;
                }
            }

            &__btn-container{
                margin-top: 30px;
            }
        }
    }

    @media only screen and (max-width: 900px){
        .article{

            &__card{

                &__txt{
                    width: 70vw;
                }
            }
        }
    }

    @media only screen and (min-width: 1600px){
        .article{

            &__card{

                &__txt{
                    width: 30vw;
                }
            }
        }
    }
</style>