---
//View Transitions
import { ViewTransitions } from "astro:transitions";
import ThirdSection from "../components/Main/thirdSection.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Bitcoin.svg/1200px-Bitcoin.svg.png" />
		<script src="https://kit.fontawesome.com/a1618bce8f.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Learn More</title>
		<link rel="stylesheet" href="src/layouts/scripts/odometer.css" />
		<ViewTransitions />
	</head>
	<body>
        <article class="article">
            <h1 class="article__title" transition:name="title">Sobre Nosotros</h1>
            <p class="article__txt" transition:name="text">
                Desde nuestros modestos inicios hasta nuestro estatus actual, hemos cultivado una reputación de innovación, confianza y compromiso con nuestros clientes.
                <br><br>
        Somos un equipo apasionado de profesionales con un objetivo común: ofrecer soluciones sólidas y confiables en el emocionante campo de la minería de Bitcoin. Nuestra dedicación a la excelencia y nuestra mentalidad orientada al futuro nos distinguen en este dinámico paisaje digital.
            </p>
        </article>

	</body>
</html>

<style lang="scss">
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
		overflow-x: hidden;
		width: 100vw;
        min-height: 100vh;
		background-size: 100% 100%;
		background-position: 0px 0px,0px 0px,0px 0px;
		background-color: #16171a;

        &::-webkit-scrollbar{
        	width: 7px;
        	color: #161616;
    	}

    	&::-webkit-scrollbar-track{
        	background-color: #161616;
    	}

    	&::-webkit-scrollbar-thumb{
        	border-radius: 30px;
        	transition: all .5s;
			background: #a252ff;
    	}
    }
</style>
        
<style lang="scss">
    .article{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 50vh;
        width: 40vw;
        color: #fff;
        text-align: center;
        
        &__title{
            font-size: clamp(30px,3.5vw + 1vh,80px);
        }
    }

    @media only screen and (max-width: 480px){
        .article{
            width: 80vw;
        }
    }
</style>