---
import Layout from "../layouts/LayoutPrivacy.astro";
import Open from "../components/PrivacyPolicy/open.astro";
---

<Layout title="Política de Privacidad">
    <h1 class="title" id="header">Política de privacidad</h1>
    <h3 class="subtitle">Fecha de última actualización: agosto 2024</h3>
    <p class="txt">Esta Política de Privacidad explica cómo en mineriabtc.com recogemos, utilizamos, almacenamos, compartimos y protegemos los datos personales que proporcionas a través de nuestro sitio web. Tus datos serán tratados conforme al RGPD y la LOPDGDD, garantizando un manejo eficaz y responsable. Como usuario, eres responsable de la autenticidad y veracidad de los datos que compartes.  </p>
    <br>
    <br>
    <p class="txt">Si tienes alguna pregunta, <a href="/privacy" class="txt__link">dirígete a info@mineriabtc.com.</a></p>
    <br>
    <br>
    <b></b>
    <Open title="Información que Recopilamos">
        <p slot="body" class="body-txt body">La información que recopilamos a través de nuestro formulario de contacto se utiliza exclusivamente para enviarte la información que solicitas y para ponernos en contacto contigo para resolver tus preguntas si así lo deseas. 
            Al proporcionarnos tus datos, nos autorizas expresamente a utilizarlos con este propósito.
            En mineriabtc.com recopilamos los siguientes datos cuando visitas nuestra Landing Page y completas nuestros formularios de contacto:
            </p>
        <ul slot="body" class="body-list body">
            <br>
            <li class="body-list__items">Nombre y Apellidos</li>
            <li class="body-list__items">Dirección de correo electrónico</li>
            <li class="body-list__items">Número de teléfono</li>
            <li class="body-list__items">Comentarios o preguntas adicionales (opcional)</li>
        </ul>
    </Open>
    <Open title="Uso de la Información">
        <p slot="body" class="body-txt body">Utilizamos la información recopilada para los siguientes fines:</p>
        <ul slot="body" class="body-list body">
            <br>
            <li class="body-list__items">Para responder a tu consulta y ponerte en contacto con un consultor experto en Minería Bitcoin y Bitcoin.</li>
            <li class="body-list__items">Para enviarte información relacionada con nuestros servicios y ofertas, si has dado tu consentimiento para recibirla.</li>
            <li class="body-list__items">Para mejorar y personalizar tu experiencia en nuestra página web.</li>
            <li class="body-list__items">Para cumplir con las obligaciones legales y reglamentarias aplicables.</li>
        </ul>
    </Open>
    <Open title="Compartir Información">
        <p slot="body" class="body-txt body">No compartiremos su información personal con terceros sin su consentimiento expreso, a menos que estemos legalmente obligados a hacerlo.</p>
    </Open>
    <Open title="Seguridad de los Datos">
        <p  slot="body" class="body body-txt">Tomamos medidas para proteger su información personal y garantizar su confidencialidad. Sin embargo, la transmisión de información a través de Internet no es completamente segura, y no podemos garantizar la seguridad de los datos transmitidos a través de nuestra Landing Page.</p>
    </Open>
    <Open title="Sus Derechos">
        <p slot="body" class="body-txt body">Tienes ciertos derechos con respecto a tus datos personales, incluyendo el derecho a acceder, corregir, eliminar y limitar el procesamiento de tus datos. Puedes ejercer estos derechos enviándonos una solicitud a través de la dirección de correo electrónico: info@mineriabtc.com.</p>
    </Open>
    <Open title="Cambios en esta Política de Privacidad">
        <p slot="body" class="body-txt body">Nos reservamos el derecho de actualizar o modificar esta política de privacidad en cualquier momento. Cualquier cambio importante será notificado en nuestra página web.</p>
    </Open>
    <Open title="Contacto">
        <p slot="body" class="body-txt body">Si tienes alguna pregunta sobre esta política de privacidad o sobre tus datos personales, por favor contáctanos a través del correo electrónico: info@mineriabtc.com.</p>
        <ul slot="body" class="body-list body">
            <br>
        </ul>
        <hr slot="line">
    </Open>
</Layout>

<style lang="scss">
    *{
        margin: 0;
        padding: 0;
        font-weight: 100;
    }

    body{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        cursor: url("../assets/cursor.png"), auto;
    } 

    a{
        cursor: url("../assets/pointer.png"), auto;

        &:hover{
            cursor: url("../assets/pointer.png"), auto;
        }
    }

    .body-txt{
        font-size: 20px;
    }

    .body-list{
        margin-left: 40px;

        &__items{
            font-size: 20px;
        }
    }

    .body-link{
        color: #06f;

        &:hover{
            text-decoration: underline;
        }
    }

    .title, .subtitle, .txt{
        text-align: center;
    }

    .title{
        margin-top: 70px;
        margin-bottom: 22px;
        // font-size: 100px;
        width: 100vw;
        font-size: clamp(35px,3.5vw + 1vh,80px);
        letter-spacing: -.003em;
    }

    .subtitle{
        margin-bottom: 40px;
        font-size: 23px;
    }

    .txt{
        width: 700px;
        font-size: 22px;

        &__link{
            color: #ff843f;

            &:hover{
                text-decoration: underline;
                cursor: url("../assets/pointer.png"), auto;
            }
        }

        &__link--d{
            margin-top: 30px;
            margin-bottom: 85px;
        }
    }

    .txt--2{
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .icon{
        user-select: none;
        width: 80px;
        // margin-bottom: 22px;
        // margin-top: 20px;
    }

    .footer{
        width: 100vw;
    }

    @media only screen and (max-width: 480px){
        .txt{
            width: 300px;
            font-size: 18px;
        }
    }

    .cursor-dot {
		width: 15px;
		height: 15px;
		background-color: #ffe602;
	}

	.cursor-outline {
		width: 60px;
		height: 60px;
		border: 2px solid #ffe602;
	}

	.cursor-dot,
	.cursor-outline {
		position: fixed;
		top: 0px;
		left: 0px;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		z-index: 10;
		pointer-events: none;
	}

</style>

<script is:inline>
    const openCArr = document.querySelectorAll('.open-container');
    openCArr.forEach(container =>{
        console.log(container.childNodes[3].childNodes)
        let selected = false;
        container.addEventListener('click', () =>{
            if (selected == false){
                selected = true;
                const icon = container.childNodes[3].childNodes[3];
                icon.style.animation = 'rotate .4s forwards';
                const temporalContainer = container.childNodes[5];
                temporalContainer.style.display  = 'block';
            } else if (selected == true) {
                selected = false;
                const icon = container.childNodes[3].childNodes[3];
                icon.style.animation = 'desrotate .4s forwards';
                const temporalContainer = container.childNodes[5];
                temporalContainer.style.display = 'none';
            }
        })
    })
</script>

<script is:inline>
	const cursorDot = document.querySelector(".cursor-dot");
	const cursorOutline = document.querySelector(".cursor-outline");

	window.addEventListener("mousemove", (evt) => {
		const posX = evt.clientX;
		const posY = evt.clientY;

		cursorDot.style.left = `${posX}px`;
		cursorDot.style.top = `${posY}px`;

		cursorOutline.animate(
			{
				left: `${posX}px`,
				top: `${posY}px`,
			},
			{ duration: 500, fill: "forwards" },
		);
	});
</script>