---
import GradientBtn from "../gradientBtn.astro";
---

<nav class="header__nav">
    <a href="#s5" class="header__nav__link">Únete a nosotros</a>
    <a href="#s1" class="header__nav__link header__nav__link--2">Saber más</a>
</nav>

<style lang="scss">
    a {
        height: fit-content;
    }

    .header {
        &__nav {
            top: 0px;
            position: fixed;
            z-index: 9;
            width: 100%;
            padding: 20px;
            display: flex;
            justify-content: flex-end;
            gap: 50px;
            background: rgba(0, 0, 0, 0.83);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(8.5px);
            -webkit-backdrop-filter: blur(8.5px);
            border: 1px solid rgba(0, 0, 0, 0.3);
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            transition: all 100ms ease-in-out;
            align-items: center;

            &__link {
                font-family: "Poppins", sans-serif;
                text-decoration: none;
                color: #696969;
                transition: all 0.5s;
                cursor: url("../../assets/pointer.png"), auto;

                &:hover {
                    color: #ffd056;
                }

                &--2 {
                    margin-right: 30px;
                }
            }
        }
    }

    @media only screen and (min-width: 1600px) {
        .header {
            &__nav {
                &__btn {
                    margin-left: 50px;
                }

                &__interact-container {
                    margin-right: 50px;
                }
            }
        }
    }

    @media only screen and (max-width: 900px) {
        .header {
            &__nav {
                display: none;
            }
        }
    }
</style>

<!-- <script is:inline>
 document.addEventListener("DOMContentLoaded", function () {
  var prevScrollpos = window.pageYOffset;
  var navbar = document.querySelector(".header__nav");

  window.onscroll = function () {
    var currentScrollPos = window.pageYOffset;

    if (prevScrollpos > currentScrollPos) {
      navbar.style.top = "0";
    } else {
      navbar.style.top = "-60px";
    }

    prevScrollpos = currentScrollPos;
  };
});


</script> -->
