---
const { text } = Astro.props;
---

<button class="btn">{text}</button>

<style lang="scss">
    .btn{
        outline: none;
        color: #fff;
        background: rgba(255, 255, 255, 0.03);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.9px);
-webkit-backdrop-filter: blur(1.9px);
        transition: all .5s;
        font-family: 'Montserrat', sans-serif;
        border: 3px solid #988dff;
        padding: 10px;
        border-radius: 50px;
        width: 15vw;
        font-size: clamp(16px, 1.7vw, 23px);
        height: 4rem;
        width: 24.5vh;
        &:hover{
            cursor: pointer;
            background: rgba(255, 255, 255, 0.11);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.2px);
-webkit-backdrop-filter: blur(5.2px);
        }
    }

    @media only screen and (max-width: 480px){
        .btn{
            width: 33vh;
        }
    }
</style>