---
const { title } = Astro.props;
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Bitcoin.svg/1200px-Bitcoin.svg.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!--Google Font -->
		<!--Gabarito -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet">
		<!-- <ViewTransitions /> -->
	</head>
	<body>
			<slot />
	</body>
</html>
<style is:global lang="scss">
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Montserrat', sans-serif;
		scroll-behavior: smooth;
	}

	body{
        background-color: #161616;
        color: #fff;
		display: flex;
		flex-direction: column;
        &::-webkit-scrollbar{
        	width: 7px;
        	color: #161616;
    	}

    	&::-webkit-scrollbar-track{
        	background-color: #161616;
    	}

    	&::-webkit-scrollbar-thumb{
        	border-radius: 30px;
        	transition: all .5s;
			background: #a252ff;
    	}
	}

	a{
		text-decoration: none;
	}

	::selection {
    	background-color: #a252ff;
    	color: #fff;
	}

</style>